{% include 'template.html' %}
{% block conteudo %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <h1 class="page-header">Dashboard</h1>

          <h2 class="sub-header">Tebela de vendas</h2>
            <button type="button" class="btn btn-success" data-target="#myModal" data-toggle="modal">Adcionar</button>

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nome Laboratorio</th>
                  <th>Professor</th>
                  <th>Data Marcada</th>
                  <th>Hora Marcada</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Excluir</button>
                  </td>
                </tr>
               <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>
                      <button type="button" class="btn btn-primary">Editar</button>
                      <button type="button" class="btn btn-danger">Excluir</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
{% endblock %}